<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--	<add key="filePath" value="C:\Users\wacko\source\repos\wackojens\.NET_Csharp\TrackerLibrary\Data"/>--><!--path voor thuis-->	
		<add key="filePath" value="C:\Users\JUD\source\repos\TrackerLibrary\Data"/><!--path voor in de les -->
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="Jens.Coomans@outlook.be"/>
		<add key="senderDisplayName" value="Jens"/>
	</appSettings>
	<connectionStrings>
	<!--<add name="Tournaments" connectionString="Server=MSI;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>--><!--path voor thuis-->
	<add name="Tournaments" connectionString="Server=308PC06-19;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/><!--path voor in de les-->
	</connectionStrings>
<!--		<system.net>
			<mailSettings>
				<smtp deliveryMethod="Network">
					<network host="127.0.0.1" userName="Jens" password="testing" port="25" enableSsl="false"/>
				</smtp>
			</mailSettings>
		</system.net> -->
</configuration>