<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--	<add key="filePath" value="C:\Users\wacko\source\repos\wackojens\.NET_Csharp\TrackerLibrary\Data"/>--><!--path voor thuis-->	
		<add key="filePath" value="C:\Users\JUD\source\repos\TrackerLibrary\Data"/><!--path voor in de les -->
		<add key="winnerDetermination" value="greater"/>
	</appSettings>
	<connectionStrings>
	<!--<add name="Tournaments" connectionString="Server=MSI;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>--><!--path voor thuis-->
	<add name="Tournaments" connectionString="Server=308PC06-19;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/><!--path voor in de les-->
	</connectionStrings>
</configuration>