@model mvcSchool.Models.StudentModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<form asp-action="Edit" class="row g-3 justify-content-around">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="Birthdate" class="control-label"></label>
        <input asp-for="Birthdate" class="form-control" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
        <label asp-for="Gender" class="control-label"></label><br />
        <input type="radio" asp-for="Gender" class="form-check-input" value="Male" />Male<br />
        <input type="radio" asp-for="Gender" class="form-check-input" value="Female" />Female<br />
        <input type="radio" asp-for="Gender" class="form-check-input" value="Other" />Other<br />
        <span asp-validation-for="Gender" class="text-danger"></span>
        <label asp-for="Township" class="control-label"></label>
        <input asp-for="Township" class="form-control" />
        <span asp-validation-for="Township" class="text-danger"></span>
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="CourseResults" class="control-label">Courses</label><br />
        @Html.ListBoxFor(model => model.CourseResults.Keys, (MultiSelectList)ViewData["Courses"], new { multiple = "multiple", @class= "listbox" })
    </div>
    <div class="col-12">
        <a asp-action="Index" class="btn btn-primary float-end" style="margin-left:10px;">Back</a>
        <input type="submit" value="Save" class="btn btn-primary float-end" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
