html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black;
  color:white;
}

.magnify{
    height:30px;
    width:30px;
    transform:rotate(-45deg);
    margin-right:10px;
}

.navIcon{
    height:30px;
    width:30px;
}

.searchbar{
    width:300px;
    color:white;
}

.pillButton {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.inputType {
    color: white;
    width: 110px;
}