@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jens' Page";
}


<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <img src="~/images/magnifying-glass.jpg" class="rounded-circle magnify float-end">
</nav>


<div class="text-center">
    <h1 class="display-4">9.5GAG</h1>
</div>
